.total-width {
  height: 100vh;
  width: 100%;
  background-color: white;
}

/* Grid Layout */
.grid-template {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
}

/* Left Side */
.left-section {
  background-color: #fff;  /* Dark sidebar */
  color: white;
  padding: 20px;
}


.menu-container {
  margin-top: 30px;
}

.menu-item {
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 18px;
  cursor: pointer;
  color: #374151;
  font-size: 18px;
  font-weight: 400;
   font-family: system-ui, sans-serif;
  transition: all 0.2s ease;
}

.menu-item:hover {
  background-color: #e0f2fe;
}

.menu-item.active {
  background: linear-gradient(to right, #5b5b5b, #c2c4c9);
  color: white;
}


/* Right Side */
.right-section {
  background-color: #f3f4f6;  /* Light content area */
  padding: 20px;
}
